

/* 

    --header--

*/

/* base classes */
.header{
    grid-column:1/-1;
    display:grid;
    grid-template-columns:subgrid;
    z-index:1;
}

.header-inner-wrapper{
    grid-column:3/15;
    display:flex;
    justify-content:space-around;
    border-bottom:1px solid var(--purpureus);
    height:70px;
    align-items:center;
}

.header-btn-wrapper{
    display:flex;
    gap:10px;
}

.menu-open-btn{
    font-size:1.2rem;
    cursor:pointer;
}

.cart-open-btn{
    font-size:1.2rem;
    position:relative;
    cursor:pointer;
}

.cart-item-nb{
    font-size:0.6rem;
    background-color:var(--purpureus);
    color:white;
    width:15px;
    height:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:15px;
    position:absolute;
    top:-40%;
    right:-40%;
}

.brand{
    font-size:1.5rem;
    font-weight:bold;
}

.header-contact{
    font-size:1.2rem;
}

.overlay{
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.5);
    display:none;
}

/* classes on event */
.header-contact-mobile{
    display:none;
}

.overlay-cart-opened{
    display:initial;
}




